<ng-template #detailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col col-4">
        <form [formGroup]="form" (ngSubmit)="saveProdotto(form.value)">
          <div class="form-group">
            <label for="email">Nome</label>
            <input type="text" class="form-control" id="email" formControlName="nome">
          </div>
          <div class="form-group">
            <label for="email">Prezzo</label>
            <input type="text" class="form-control" id="prezzo" formControlName="prezzo">
          </div>
          <div class="form-group">
            <label for="email">URL Immagine</label>
            <input type="text" class="form-control" id="immagine" formControlName="immagine">
          </div>
          <div class="form-group">
            <label for="descrizione">Descrizione</label>
            <textarea class="form-control" id="descrizione" formControlName="descrizione"></textarea>
          </div>
          <button class="btn btn-primary">Crea</button>
        </form>
      </div>
      <div class="col col-8">
        Ingredienti:
        <div class="row" *ngFor="let i of ingredientiAggiunti">
          <div class="col col-4">
            {{i.nome}}
          </div>
          <div class="col col-6">
            {{i.quantita}}({{i.um}})
          </div>
          <div class="col col-2">
            <a (click)="removeIngrediente(i)" class="abutton">Rimuovi</a>
          </div>
        </div>
        <div class="row" *ngIf="showNewIngredient">
          <div class="col col-6">
            <select class="form-control" (change)="changeIngredienteInAggiunta($event)">
              <option selected disabled>Seleziona...</option>
              <option *ngFor="let i of ingredienti" value="{{i.id}}">{{i.nome}}</option>
            </select>
          </div>
          <div class="col col-4">
            <input type="number" class="form-control" (change)="updateQuantitaIngredienteInAggiunta($event)">
          </div>
          <div class="col col-2">
            ({{ingredienteInAggiunta.um}})
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a (click)="showNewIngredient = true" class="abutton" *ngIf="!showNewIngredient">Aggiungi Ingrediente</a>
            <a (click)="addIngredient()" class="abutton" *ngIf="showNewIngredient">Salva Ingrediente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="row">
  <div class="col">
    <h5>Prodotti</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
      <th style="width:20%" >Nome</th>
      <th style="width:30%">Descrizione</th>
      <th style="width:10%">Prezzo</th>
      <th style="width:20%">Data Prod</th>
      <th style="width:20%"><a class="abutton" (click)="openAddModal(detailsModal)">Aggiungi</a></th>
      </thead>
      <tbody>
      <tr *ngFor="let i of prodotti">
        <td>
          {{i.nome}}
        </td>
        <td>
          {{i.descrizione}}
        </td>
        <td>
          {{i.prezzo}}
        </td>
        <td>
          {{i.dataProduzione| date:'d/M/yy h:mm'}}
        </td>
        <td>
          <a class="abutton" (click)="openEditModal(detailsModal, i)">Modifica</a>
          <a class="abutton" style="margin-left: 1ch;" (click)="deleteProdotto(i.id)">Elimina</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
